<p>
  <b>Work:</b>
  <%=h @workdetail.work_id %>
</p>

<p>
  <b>Movement:</b>
  <%=h @workdetail.movement_id %>
</p>

<p>
  <b>Movement name:</b>
  <%=h @workdetail.movement_name %>
</p>

<p>
  <b>Timpani:</b>
  <%=h @workdetail.timpani %>
</p>

<p>
  <b>Timpani 2:</b>
  <%=h @workdetail.timpani_2 %>
</p>

<p>
  <b>Timpani 3:</b>
  <%=h @workdetail.timpani_3 %>
</p>

<p>
  <b>Timpani 4:</b>
  <%=h @workdetail.timpani_4 %>
</p>

<p>
  <b>Timpani 5:</b>
  <%=h @workdetail.timpani_5 %>
</p>

<p>
  <b>Timpani 6:</b>
  <%=h @workdetail.timpani_6 %>
</p>

<p>
  <b>Timpani 7:</b>
  <%=h @workdetail.timpani_7 %>
</p>

<p>
  <b>Timpani 8:</b>
  <%=h @workdetail.timpani_8 %>
</p>

<p>
  <b>Timpani 9:</b>
  <%=h @workdetail.timpani_9 %>
</p>

<p>
  <b>Timpani 10:</b>
  <%=h @workdetail.timpani_10 %>
</p>

<p>
  <b>Percussion 1:</b>
  <%=h @workdetail.percussion_1 %>
</p>

<p>
  <b>Percussion 2:</b>
  <%=h @workdetail.percussion_2 %>
</p>

<p>
  <b>Percussion 3:</b>
  <%=h @workdetail.percussion_3 %>
</p>

<p>
  <b>Percussion 4:</b>
  <%=h @workdetail.percussion_4 %>
</p>

<p>
  <b>Percussion 5:</b>
  <%=h @workdetail.percussion_5 %>
</p>

<p>
  <b>Percussion 6:</b>
  <%=h @workdetail.percussion_6 %>
</p>

<p>
  <b>Percussion 7:</b>
  <%=h @workdetail.percussion_7 %>
</p>

<p>
  <b>Percussion 8:</b>
  <%=h @workdetail.percussion_8 %>
</p>

<p>
  <b>Percussion 9:</b>
  <%=h @workdetail.percussion_9 %>
</p>

<p>
  <b>Percussion 10:</b>
  <%=h @workdetail.percussion_10 %>
</p>

<p>
  <b>Percussion 11:</b>
  <%=h @workdetail.percussion_11 %>
</p>

<p>
  <b>Percussion 12:</b>
  <%=h @workdetail.percussion_12 %>
</p>

<p>
  <b>Percussion 13:</b>
  <%=h @workdetail.percussion_13 %>
</p>

<p>
  <b>Percussion 14:</b>
  <%=h @workdetail.percussion_14 %>
</p>

<p>
  <b>Percussion 15:</b>
  <%=h @workdetail.percussion_15 %>
</p>

<p>
  <b>Percussion 16:</b>
  <%=h @workdetail.percussion_16 %>
</p>

<p>
  <b>Percussion 17:</b>
  <%=h @workdetail.percussion_17 %>
</p>

<p>
  <b>Percussion 18:</b>
  <%=h @workdetail.percussion_18 %>
</p>

<p>
  <b>Percussion 19:</b>
  <%=h @workdetail.percussion_19 %>
</p>

<p>
  <b>Percussion 20:</b>
  <%=h @workdetail.percussion_20 %>
</p>

<p>
  <b>Cimbalom:</b>
  <%=h @workdetail.cimbalom %>
</p>

<p>
  <b>Attachment exists:</b>
  <%=h @workdetail.attachment_exists %>
</p>


<%= link_to 'Edit', edit_workdetail_path(@workdetail) %> |
<%= link_to 'Back', workdetails_path %>