<h1><%= "#{@work.composer.composer_name}" %>: <%=h @work.work_name %> <%=h @work.arr_orch %>  <%=h @work.opus_no %></h1>
<table border=1 cellpadding=3 width=1200>
  <tr>
		
<%= if @workdetail.movement_name.present? ; "<th>Movement Name</th>".html_safe; end %>
<%= if @workdetail.timpani.present? ; "<th>Timpani</th>".html_safe; end %>
<%= if @workdetail.timpani_2.present? ; "<th>Timpani 2</th>".html_safe; end %>
<%= if @workdetail.timpani_3.present? ; "<th>Timpani 3</th>".html_safe; end %>
<%= if @workdetail.timpani_4.present? ; "<th>Timpani 4</th>".html_safe; end %>
<%= if @workdetail.timpani_5.present? ; "<th>Timpani 5</th>".html_safe; end %>
<%= if @workdetail.timpani_6.present? ; "<th>Timpani 6</th>".html_safe; end %>
<%= if @workdetail.timpani_7.present? ; "<th>Timpani 7</th>".html_safe; end %>
<%= if @workdetail.timpani_8.present? ; "<th>Timpani 8</th>".html_safe; end %>
<%= if @workdetail.timpani_9.present? ; "<th>Timpani 9</th>".html_safe; end %>
<%= if @workdetail.timpani_10.present? ; "<th>Timpani 10</th>".html_safe; end %>
<%= if @workdetail.percussion_1.present? ; "<th>Percussion 1</th>".html_safe; end %>
<%= if @workdetail.percussion_2.present? ; "<th>Percussion 2</th>".html_safe; end %>
<%= if @workdetail.percussion_3.present? ; "<th>Percussion 3</th>".html_safe; end %>
<%= if @workdetail.percussion_4.present? ; "<th>Percussion 4</th>".html_safe; end %>
<%= if @workdetail.percussion_5.present? ; "<th>Percussion 5</th>".html_safe; end %>
<%= if @workdetail.percussion_6.present? ; "<th>Percussion 6</th>".html_safe; end %>
<%= if @workdetail.percussion_7.present? ; "<th>Percussion 7</th>".html_safe; end %>
<%= if @workdetail.percussion_8.present? ; "<th>Percussion 8</th>".html_safe; end %>
<%= if @workdetail.percussion_9.present? ; "<th>Percussion 9</th>".html_safe; end %>
<%= if @workdetail.percussion_10.present? ; "<th>Percussion 10</th>".html_safe; end %>
<%= if @workdetail.percussion_11.present? ; "<th>Percussion 11</th>".html_safe; end %>
<%= if @workdetail.percussion_12.present? ; "<th>Percussion 12</th>".html_safe; end %>
<%= if @workdetail.percussion_13.present? ; "<th>Percussion 13</th>".html_safe; end %>
<%= if @workdetail.percussion_14.present? ; "<th>Percussion 14</th>".html_safe; end %>
<%= if @workdetail.percussion_15.present? ; "<th>Percussion 15</th>".html_safe; end %>
<%= if @workdetail.percussion_16.present? ; "<th>Percussion 16</th>".html_safe; end %>
<%= if @workdetail.percussion_17.present? ; "<th>Percussion 17</th>".html_safe; end %>
<%= if @workdetail.percussion_18.present? ; "<th>Percussion 18</th>".html_safe; end %>
<%= if @workdetail.percussion_19.present? ; "<th>Percussion 19</th>".html_safe; end %>
<%= if @workdetail.percussion_20.present? ; "<th>Percussion 20</th>".html_safe; end %>
<%= if @workdetail.cimbalom.present? ; "<th>Cimbalom</th>".html_safe; end %>
    
  </tr>
 <tr>
<% for workdetail in @workdetails %>
<%= if @workdetail.movement_name.present? ; "<td>".html_safe + workdetail.movement_name + "</td>".html_safe; end %>
<%= if @workdetail.timpani.present? ; "<td>".html_safe + workdetail.timpani + "</td>".html_safe; end %>
<%= if @workdetail.timpani_2.present? ; "<td>".html_safe + workdetail.timpani_2 + "</td>".html_safe; end %>
<%= if @workdetail.timpani_3.present? ; "<td>".html_safe + workdetail.timpani_3 + "</td>".html_safe; end %>
<%= if @workdetail.timpani_4.present? ; "<td>".html_safe + workdetail.timpani_4 + "</td>".html_safe; end %>
<%= if @workdetail.timpani_5.present? ; "<td>".html_safe + workdetail.timpani_5 + "</td>".html_safe; end %>
<%= if @workdetail.timpani_6.present? ; "<td>".html_safe + workdetail.timpani_6 + "</td>".html_safe; end %>
<%= if @workdetail.timpani_7.present? ; "<td>".html_safe + workdetail.timpani_7 + "</td>".html_safe; end %>
<%= if @workdetail.timpani_8.present? ; "<td>".html_safe + workdetail.timpani_8 + "</td>".html_safe; end %>
<%= if @workdetail.timpani_9.present? ; "<td>".html_safe + workdetail.timpani_9 + "</td>".html_safe; end %>
<%= if @workdetail.timpani_10.present? ; "<td>".html_safe + workdetail.timpani_10 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_1.present? ; "<td>".html_safe + workdetail.percussion_1 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_2.present? ; "<td>".html_safe + workdetail.percussion_2 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_3.present? ; "<td>".html_safe + workdetail.percussion_3 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_4.present? ; "<td>".html_safe + workdetail.percussion_4 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_5.present? ; "<td>".html_safe + workdetail.percussion_5 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_6.present? ; "<td>".html_safe + workdetail.percussion_6 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_7.present? ; "<td>".html_safe + workdetail.percussion_7 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_8.present? ; "<td>".html_safe + workdetail.percussion_8 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_9.present? ; "<td>".html_safe + workdetail.percussion_9 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_10.present? ; "<td>".html_safe + workdetail.percussion_10 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_11.present? ; "<td>".html_safe + workdetail.percussion_11 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_12.present? ; "<td>".html_safe + workdetail.percussion_12 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_13.present? ; "<td>".html_safe + workdetail.percussion_13 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_14.present? ; "<td>".html_safe + workdetail.percussion_14 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_15.present? ; "<td>".html_safe + workdetail.percussion_15 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_16.present? ; "<td>".html_safe + workdetail.percussion_16 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_17.present? ; "<td>".html_safe + workdetail.percussion_17 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_18.present? ; "<td>".html_safe + workdetail.percussion_18 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_19.present? ; "<td>".html_safe + workdetail.percussion_19 + "</td>".html_safe; end %>
<%= if @workdetail.percussion_20.present? ; "<td>".html_safe + workdetail.percussion_20 + "</td>".html_safe; end %>
<%= if @workdetail.cimbalom.present? ; "<td>".html_safe + workdetail.cimbalom + "</td>".html_safe; end %>
 
        
  </tr>
<% end %>
</table>
<br />
<%= if @work.notes.present? ; "<p><b>Notes: </b>".html_safe + @work.notes + "</p>".html_safe; end %>

<p>
	
  <%= link_to (I18n.t 'composers.back_works') + " " + "#{@work.composer.composer_name}", :back %>
  
</p>
<p>
  <%= link_to (I18n.t 'composers.new_search'), composers_path(:letter => 'A') %>
</p>