<h1><%= "#{@work.composer.composer_name}" %>: <%=h @work.work_name %> <%=h @work.arr_orch %>  <%=h @work.opus_no %></h1>
<table border=1 cellpadding=3 width=1200>
  <tr>
		
<%= if @workdetail.movement_name? ; "<th>Movement Name</th>".html_safe; end %>
<%= render_table_header('timpani') %>
<% (2..10).each do |i| %>
  <%= render_table_header('timpani', i) %>
<% end %>
<% (1..20).each do |i| %>
  <%= render_table_header('percussion', i) %>
<% end %>
<%= if @workdetail.cimbalom? ; "<th>Cimbalom</th>".html_safe; end %>
    
  </tr>
<% for workdetail in @workdetails %>
  <tr>
  <%= if @workdetail.movement_name? ; "<td>".html_safe + workdetail.movement_name + "</td>".html_safe; end %>
  <%= render_table_cell(workdetail, 'timpani') %>
  <% (2..10).each do |i| %>
    <%= render_table_cell(workdetail, 'timpani', i) %>
  <% end %>
  <% (1..20).each do |i| %>
    <%= render_table_cell(workdetail, 'percussion', i) %>
  <% end %>
  <%= if @workdetail.cimbalom? ; "<td>".html_safe + workdetail.cimbalom + "</td>".html_safe; end %>
  </tr>
<% end %>
</table>

<%= render :partial => 'attachments' %>

<br />
<%= if @work.notes.present? ; "<p><b>Notes: </b>".html_safe + @work.notes + "</p>".html_safe; end %>

<p>
  <%= link_to (I18n.t 'composers.back_works') + " " + "#{@work.composer.composer_name}", :back %>
</p>
<p>
  <%= link_to (I18n.t 'composers.new_search'), composers_path(:letter => 'A') %>
</p>
