<p>
<h1><%= I18n.t 'composers.works_title' %> <%=h @composer.composer_name %></h1>
</p>

<table>
	
<% for work in @works %>
  <tr><td><%= link_to work.work_name, work_path(work.id) %>
	<%= work.opus_no %> 
	<% if work.showarrorch? %>
	  <%= work.arr_orch %> 
    <% end %>
	</td>
<% end %>

</table>

<br />
<p>
<%= link_to (I18n.t 'composers.back_composers'), composers_path(:letter => 'A') %>
</p>