<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Organisation name</th>
    <th>Web address</th>
    <th>Street address 1</th>
    <th>Street address 2</th>
    <th>Town or city</th>
    <th>Zip</th>
    <th>State or county</th>
    <th>Country</th>
    <th>Phone no</th>
    <th>Email</th>
    <th>Password</th>
    <th>Join date</th>
    <th>Membership type</th>
    <th>Payment type</th>
    <th>Currency</th>
    <th>Cancelled</th>
    <th>Current member</th>
    <th>Language</th>
    <th>Years paid</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.first_name %></td>
    <td><%=h user.last_name %></td>
    <td><%=h user.organisation_name %></td>
    <td><%=h user.web_address %></td>
    <td><%=h user.street_address_1 %></td>
    <td><%=h user.street_address_2 %></td>
    <td><%=h user.town_or_city %></td>
    <td><%=h user.zip %></td>
    <td><%=h user.state_or_county %></td>
    <td><%=h user.country %></td>
    <td><%=h user.phone_no %></td>
    <td><%=h user.email %></td>
    <td><%=h user.password %></td>
    <td><%=h user.join_date %></td>
    <td><%=h user.membership_type %></td>
    <td><%=h user.payment_type %></td>
    <td><%=h user.currency %></td>
    <td><%=h user.cancelled %></td>
    <td><%=h user.current_member %></td>
    <td><%=h user.language %></td>
    <td><%=h user.years_paid %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>