<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :organisation_name %><br />
    <%= f.text_field :organisation_name %>
  </p>
  <p>
    <%= f.label :web_address %><br />
    <%= f.text_field :web_address %>
  </p>
  <p>
    <%= f.label :street_address_1 %><br />
    <%= f.text_field :street_address_1 %>
  </p>
  <p>
    <%= f.label :street_address_2 %><br />
    <%= f.text_field :street_address_2 %>
  </p>
  <p>
    <%= f.label :town_or_city %><br />
    <%= f.text_field :town_or_city %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :state_or_county %><br />
    <%= f.text_field :state_or_county %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :phone_no %><br />
    <%= f.text_field :phone_no %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :join_date %><br />
    <%= f.datetime_select :join_date %>
  </p>
  <p>
    <%= f.label :membership_type %><br />
    <%= f.text_field :membership_type %>
  </p>
  <p>
    <%= f.label :payment_type %><br />
    <%= f.text_field :payment_type %>
  </p>
  <p>
    <%= f.label :currency %><br />
    <%= f.text_field :currency %>
  </p>
  <p>
    <%= f.label :cancelled %><br />
    <%= f.check_box :cancelled %>
  </p>
  <p>
    <%= f.label :current_member %><br />
    <%= f.check_box :current_member %>
  </p>
  <p>
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </p>
  <p>
    <%= f.label :years_paid %><br />
    <%= f.text_field :years_paid %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>