<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Organisation name:</b>
  <%=h @user.organisation_name %>
</p>

<p>
  <b>Web address:</b>
  <%=h @user.web_address %>
</p>

<p>
  <b>Street address 1:</b>
  <%=h @user.street_address_1 %>
</p>

<p>
  <b>Street address 2:</b>
  <%=h @user.street_address_2 %>
</p>

<p>
  <b>Town or city:</b>
  <%=h @user.town_or_city %>
</p>

<p>
  <b>Zip:</b>
  <%=h @user.zip %>
</p>

<p>
  <b>State or county:</b>
  <%=h @user.state_or_county %>
</p>

<p>
  <b>Country:</b>
  <%=h @user.country %>
</p>

<p>
  <b>Phone no:</b>
  <%=h @user.phone_no %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>

<p>
  <b>Join date:</b>
  <%=h @user.join_date %>
</p>

<p>
  <b>Membership type:</b>
  <%=h @user.membership_type %>
</p>

<p>
  <b>Payment type:</b>
  <%=h @user.payment_type %>
</p>

<p>
  <b>Currency:</b>
  <%=h @user.currency %>
</p>

<p>
  <b>Cancelled:</b>
  <%=h @user.cancelled %>
</p>

<p>
  <b>Current member:</b>
  <%=h @user.current_member %>
</p>

<p>
  <b>Language:</b>
  <%=h @user.language %>
</p>

<p>
  <b>Years paid:</b>
  <%=h @user.years_paid %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>