<h1>Percussion Orchestrations</h1>
<p><%= t '.content1' %> <%= link_to 'Ed Cervenka', ed_path %><%= t '.content2' %> 6106 <%= t '.works_by' %> 561 <%= t '.content3' %></p>

<h1><%= link_to (I18n.t 'welcome.home.trial'), free_trial_path %></h1>

  <h2><%= t '.dates' %></h2>
  <ul>
    <li><strong><%= t '.january' %> 2004: </strong><%= t '.content4' %></li>
    <li><strong><%= t '.may' %> 2004: </strong><%= I18n.t t '.content5' %></li>
    <li><strong><%= t '.june' %> 2005: </strong><%= I18n.t t '.content6' %></li>
    <li><strong><%= t '.january' %> 2006: </strong>10000 <%= t '.hits_reached' %></li>
    <li><strong><%= t '.september' %> 2007: </strong>40 <%= t '.content7' %></li>
    <li><strong><%= t '.october' %> 2007: </strong>20000 <%= t '.hits' %></li>
    <li><strong><%= t '.november' %> 2007: </strong>3000 <%= t '.works_reached' %></li>
    <li><strong>2008: </strong><%= t '.content8' %></li>
    <li><strong><%= t '.january' %> 2010: </strong>5000 <%= t '.works_reached' %></li>
    <li><strong><%= t '.january' %> 2011: </strong>6000 <%= t '.works_reached' %></li>
	<li><strong>2011: </strong><%= t '.content9' %></li>
  </ul>


