<h1><%= t '.title' %></h1>

<p><%= t '.content1' %> <p/>
<p><%= t '.content2' %> <strong> £30/$50/€35 <%= t '.content3' %></strong> <%= t '.or' %> <strong>£75/$120/€90 <%= t '.content4' %></strong> <%= t '.content5' %></p>
   <p>
   <strong> Percussion Orchestrations</strong><br>
   30 Wyverne Road<br>
   Chorlton<br>
   Manchester<br>
   M21 0ZN<br>
   <%= I18n.t 'welcome.contact.england' %><br><br>
   <br>
   <%= t '.content6' %></p>