<h1><%= t '.title' %></h1>

<p><%= t '.content1' %></p>
<ul>
<li><%= link_to (t '.dollars'), :action => "dollars" %></li><br />

<li><%= link_to (t '.pounds'), :action => "pounds" %></li><br />

<li><%= link_to (t '.euros'), :action => "euros" %></li></ul>
