<h1><%= t '.title' %></h1>

<p><%= t '.content1' %></p>
<ul>
<li><%= link_to (t '.dollars'), dollars_path %></li><br />

<li><%= link_to (t '.pounds'), pounds_path %></li><br />

<li><%= link_to (t '.euros'), euros_path %></li></ul>
