<h1><%= t '.title' %></h1>

<p><%= t '.content1' %><br>
  <br>
  <%= t '.account_name' %>: Percussion Orchestrations Ltd<br>
  <%= t '.account_no' %>: 91372041 Sortcode: 40-31-17<br>
  <%= t '.IBAN' %>: GB55MIDL40311791372041<br>
  <%= t '.BIC' %>: MIDLGB2144P<br>
  <br>
  <%= t '.content2' %> <a href="mailto:mail@percorch.com">mail@percorch.com</a> 
  <%= t '.content3' %>
  <br>
</p>