<h1><%= I18n.t 'welcome.currency.title' %>:</h1>

<ul><li><%= link_to (I18n.t 'welcome.currency.org'), new_user_path %><br /> <%= I18n.t 'welcome.currency.org_content' %><br />
  $120 <%= I18n.t 'welcome.currency.per_year' %></li><br />
<li><%= link_to (I18n.t 'welcome.currency.part'), new_user_path %><br />  <%= I18n.t 'welcome.currency.part_content' %><br />  
 $50 <%= I18n.t 'welcome.currency.per_year' %></li><br />
  
<li><%= link_to (I18n.t 'welcome.currency.amateur'), new_user_path %><br /> $50 <%= I18n.t 'welcome.currency.per_year' %></li><br />
<li><%= link_to (I18n.t 'welcome.currency.individual'), new_user_path %><br /> $50 <%= I18n.t 'welcome.currency.per_year' %></li></ul>