<p><b>Ed Cervenka</b>
  <%= t '.content1' %></p>
  <p><%= t '.content2' %> <strong>Far from the Madding Crowd</strong><%= t '.content3' %> <strong>The League of Gentlemen</strong><%= t '.content4' %> <strong>Dogma</strong> <%= t '.content5' %> <strong>Simon Magus</strong><%= t '.content6' %> <strong><%= t '.lord' %></strong><%= t '.content7' %></p>
