<h1><%= I18n.t 'welcome.currency.title' %>:</h1>

<ul><li><%= link_to (I18n.t 'welcome.currency.org') %><br />  <%= I18n.t 'welcome.currency.org_content' %><br />
  €90 <%= I18n.t 'welcome.currency.per_year' %></li><br />
<li><%= link_to (I18n.t 'welcome.currency.part') %><br />  <%= I18n.t 'welcome.currency.part_content' %><br />  
 €35 <%= I18n.t 'welcome.currency.per_year' %></li><br />
  
<li><%= link_to (I18n.t 'welcome.currency.amateur') %><br /> €35 <%= I18n.t 'welcome.currency.per_year' %></li><br />
<li><%= link_to (I18n.t 'welcome.currency.individual') %><br /> €35 <%= I18n.t 'welcome.currency.per_year' %></li></ul>