<h1><%= t '.title' %></h1>

<p><%= t '.content1' %></p>

<p><%= t '.content2' %></p>

<p><%= t '.content3' %></p>

<ul><li><%= link_to (t '.dollars'), dollars_trial_path %></li><br>

<li><%= link_to (t '.pounds'), pounds_trial_path %></li><br>

<li><%= link_to (t '.euros'), euros_trial_path %></li></ul>
