<h1><%= t '.title' %></h1>

<p><%= t '.content1' %></p>

<p><%= t '.content2' %></p>

<p><%= t '.content3' %></p>

<ul><li><%= link_to (t '.dollars'), :action => "dollars_trial" %></li><br>

<li><%= link_to (t '.pounds'), :action => "pounds_trial" %></li><br>

<li><%= link_to (t '.euros'), :action => "euros_trial" %></li></ul>
