<h1><%= t '.title' %></h1>
 
<ul><li><%= link_to (t '.credit_card'), credit_card_path %></li><br>
<li><%= link_to (t '.credit_transfer'), credit_transfer_path %> </li><br>
<li><%= link_to (t '.cheque'), cheque_path  %> </li><br></ul>

<h2><%= I18n.t 'welcome.subscription_rates.title' %></h2>
<%= render 'rates' %>

