<h1><%= t '.title' %></h1>
 
<ul><li><%= link_to (t '.credit_card'), :action => "credit_card" %></li><br>
<li><%= link_to (t '.credit_transfer'), :action => "credit_transfer" %> </li><br>
<li><%= link_to (t '.cheque'), :action => "cheque" %> </li><br></ul>

<h2><%= I18n.t 'welcome.subscription_rates.title' %></h2>
<p><%= I18n.t 'welcome.currency.org' %><br /> <%= I18n.t 'welcome.currency.org_content' %><br />
  $120/£75/€90 <%= I18n.t 'welcome.currency.per_year' %></p>
<p><%= I18n.t 'welcome.currency.part' %><br /> <%= I18n.t 'welcome.currency.part_content' %><br />  
 $50/£30/€35 <%= I18n.t 'welcome.currency.per_year' %></p>
  
<p><%= I18n.t 'welcome.currency.amateur' %><br /> $50/£30/€35 <%= I18n.t 'welcome.currency.per_year' %></p>
<p><%= I18n.t 'welcome.currency.individual' %><br /> $50/£30/€35 <%= I18n.t 'welcome.currency.per_year' %></p> 

<p><strong><%= I18n.t 'welcome.subscription_rates.content1' %></strong></p> 


