<h1><%= t '.title' %></h1>

<h3><%= t '.individuals' %></h3>
    <p>
	<ul><li><a href="http://www.4-mality.com/" target="_blank">4-MALITY</a></li>
      <li><a href="http://www.aidys.co.uk/" target="_blank">Adrian Spillett</a></li>
      <li><a href="http://www.maraca2.com/" target="_blank">Maraca2</a></li>
	  <li><a href="http://www.ensemblebash.com/" target="_blank">Ensemble Bash</a></li>
	  <li><a href="http://www.katyelman.com" target="_blank">Katy Elman</a></li></ul>
    </p>
    <h3><%= t '.percussion' %></h3>
    <p><ul><li><a href="http://www.abpercussion.co.uk" target="_blank">AB Percussion</a></li>
	 <li><a href="http://www.danpercussion.dk/" target="_blank">Dan Percussion</a></li>
      <li><a href="http://www.timpanisticks.com" target="_blank">David Morbey Timpani 
      sticks</a></li>
      <li><a href="http://www.elitepercussion.com" target="_blank">Elite Percussion</a></li>
      <li><a href="http://www.fallcreekmarimbas.com/" target="_blank">Fall Creek Marimbas</a></li>
	  <li><a href="http://www.gipercussion.co.uk" target="_blank">G.I.Percussion</a></li>
      <li><a href="http://www.jampercussion.com" target="_blank">JaM Percussion</a></li>
      <li><a href="http://www.ktpercussion.com/" target="_blank">KT Percussion</a></li>
      <li><a href="http://www.malletworks.com/index.html" target="_blank">Malletworks</a></li>
      <li><a href="http://www.xs4all.nl/~marcz/" target="_blank">Marc Zoutendijk's 
      site</a></li>
      <li><a href="http://www.marimba-portal.de/index.html" target="_blank">Marimba 
      Portal</a></li>
      <li><a href="http://www.marimba.org/en/" target="_blank">Marimba.org</a></li>
      <li><a href="http://www.percussionistiassociati.it/" target="_blank">Percussionisti 
      Associati</a></li>
      <li><a href="http://www.pmeurope.com/eshop/" target="_blank">Percussion Music 
      Europe</a></li>
      <li><a href="http://www.percussionmusiconline.com" target="_blank">Percussion 
      Music Online</a></li>
      <li><a href="http://www.pas.org/" target="_blank">Percussive Arts Society</a></li>
      <li><a href="//http://www.phillpublications.fr/" target="_blank">P'hill Publications 
      music for percussion</a></li>
      <li><a href="http://www.sabian.com/" target="_blank">Sabian Cymbals</a></li>
      <li><a href="http://www.sheetmusicnow.com" target="_blank">Sheet Music Now</a> </li>
	  <li><a href="http://www.southernpercussion.co.uk" target="_blank">Southern Percussion</a>
    </li></ul> </p>
    <h3><%= t '.publishers' %></h3>
    <p><ul><li><a href="http://www.boosey.com" target="_blank">Boosey & Hawkes</a></li>
      <li><a href="http://www.rncm.ac.uk/Place%20to%20Study/Library/default.asp" target="_blank">RNCM 
      Library</a></li></ul></p>
	 <h3><%= t '.misc' %></h3> 
	 <p><ul><li><a href="http://www.sinfoniaorkesterit.fi/en" target="_blank">Association of Finnish Orchestras</a></li>
	 <li><a href="http://www.knockonwood.co.uk" target="_blank">Knock on Wood</a></li>
	 <li><a href="http://www.musiccorner.co.uk" target="_blank">Music Corner</a></li>
	 <li><a href="http://www.music.co.uk" target="_blank">The Music Directory</a></li>
	 <li><a href="http://www.musicalinstrumentsales.co.uk/" target="_blank">Musical Instrument Sales</a></li>
	 <li><a href="http://www.musiciansgallery.com" target="_blank">Musicians Gallery</a></li></ul>
	 </p>