<h1>Timpani Notes Explanation</h1>
  <p>
  <h2>Range</h2>
</p>
<table>
<tr><td>Notes in the range  </td><td><%= image_tag("timp_notes/timplow.gif") %></td><td>  are written in capital letters</td></tr>
</table>
<table>
<tr><td>Notes in the range  </td><td><%= image_tag("timp_notes/timphigh.gif") %></td><td>  are written in lower case letters</td></tr>
</table>
<table>
<tr><td>Notes in the range </td><td><%= image_tag("timp_notes/timptop.gif") %></td><td> i.e. notes usually played on roto-toms are written with &sup1; after note.</td></tr>
</table>
<table>
<tr><td>Please note that these ranges also include enharmonic equivalents</td></tr>
</table>
<table>
<tr><td>so for example </td><td><%= image_tag("timp_notes/timpCb.gif") %></td><td> is written <font size="5">C</font>b</td></tr>
</table>

<h2>Grouping</h2>
<table>
<tr><td>Notes grouped together separated by a comma, means that those notes are needed at the same time. </td></tr>
</table>
<table>
<tr><td>So for example <font size="5">G </font>c d, means </td><td><%= image_tag("timp_notes/timpgrouping.gif") %> </td>
	<td> on 3 different drums at the same time. </td></tr>
</table>
When things get more complicated i.e. any pedalling, click
on the attachment links to see the musical excerpts.</p>


