<h1>Percussion Notes</h1>
<table width="447" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td colspan="2" height="31" valign="bottom"><h2>Xylophone</h2></td>
  </tr>
  <tr> 
    <td width="74%" height="64" valign="bottom" align="left">If not specified, 
      the range of Xylophone needed is</td>
    <td width="26%" rowspan="2" align="right"><%= image_tag("perc_notes/Xylo3half.gif") %></td>
  </tr>
  <tr> 
    <td height="50" align="left" valign="top">3&frac12; octaves (sounding 1 octave higher than 
      written)</td>
  </tr>
  </table>
  
<table width="393" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="263" height="59" align="left" valign="bottom">Range of 4 octave Xylo where 
        specified </td>
    <td width="130" rowspan="2" align="right" valign="top"><%= image_tag("perc_notes/Xylo4.gif") %></td>
  </tr>
  <tr> 
    <td height="58" align="left" valign="top">(also sounding 1 octave higher than written)</td>
  </tr>
</table>

<table width="433" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td colspan="2"><h2>Vibraphone</h2></td>
  </tr>
  <tr> 
    <td width="293" height="107">If not specified, the range of Vibraphone needed 
      is 3 octaves </td>
    <td width="250"><%= image_tag("perc_notes/Vibes3.gif") %></td>
  </tr></table>
  <table width="450" height="27">
  <tr>
    <td width="50%"><p>Range of high 3.5 oct Vibes<br>
        where specified</p>
     </td>
    <td width="50%"><%= image_tag("perc_notes/Vibes3.5high.gif") %></td>
  </tr>
</table>
<table width="450" height="27">
  <tr>
    <td width="50%"><p>Range of low 3.5 oct Vibes<br>
        where specified</p>
     </td>
    <td width="50%"><%= image_tag("perc_notes/Vibes3.5low.gif") %></td>
  </tr>
</table>
  <table width="388">
  <tr> 
    <td width="219" height="121" align="left" valign="middle">Range of 4 oct Vibes 
      where specified </td>
    <td width="157" rowspan="2" align="left" valign="top"><%= image_tag("perc_notes/Xylo4.gif") %></td>
  </tr>
  
</table>
<table width="348" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td colspan="2" valign="top"><h2>Marimba</h2></td>
  </tr>
  <tr> 
    <td width="196" height="119">If not specified, the range of Marimba needed is 4 octaves</td>
    <td width="152" valign="top"><%= image_tag("perc_notes/Marimba4.gif") %></td>
  </tr>
</table>
<table width="396" border="0">
  <tr>
    <td width="191">Range of 4.3 oct Marimba<br>where specified</td>
    <td width="189">><%= image_tag("perc_notes/Marimba4.3.gif") %></td>
  </tr>
</table>
<table width="396" border="0">
  <tr>
    <td width="191">Range of 4.5 oct Marimba<br>
      where specified</td>
    <td width="189"><%= image_tag("perc_notes/Marimba4.5.gif") %></td>
  </tr>
</table>
<table width="396" border="0">
  <tr>
    <td width="191">Range of 5 oct Marimba<br>
      where specified</td>
    <td width="189"><%= image_tag("perc_notes/Marimba5.gif") %></td>
  </tr>
</table>
<table width="390" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="450" height="46"><h2>Glockenspiel</h2></td>
  </tr>
  <tr>
    <td height="93" valign="top">For anyone in the U.S. for Glock read Bells. I have not specified the 
      required range as notes on the Glock are often played up or down an octave depending 
      on the personal views of the player, and the range of the written notes.</td>
  </tr>
</table>
<table width="435" height="201" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="39" colspan="2"><h2>Bells</h2></td>
  </tr>
  <tr> 
    <td width="317" height="23" valign="top">For anyone in the U.S. for Bells read Chimes. 
      Click on the links for which individual Bell notes are needed. Where there are no
	  links then a full 1&frac12; octave set is needed, 
      range:</td>
    <td width="167" rowspan="3"><%= image_tag("perc_notes/Bells.gif") %></td>
  </tr>
  
  
</table>
<table width="396" border="0">
  <tr>
    <td width="179">Range of 2 oct Bells<br>
      where specified</td>
    <td width="207"><%= image_tag("perc_notes/Bells2.gif") %></td>
  </tr>
</table>
<table width="469" height="210" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="59" colspan="2"><h2>Crotales and Antique Cymbals</h2>
      </td>
  </tr>
  <tr> 
    <td width="354" height="151" valign="top">Most percussionists would consider Crotales to be of definite 
      pitch, and Antique cymbals of indefinite pitch. However some composers
	  write for Antique cymbals and give them a definite pitch. For the 
	  sake of clarity, in this last instance I have changed the name to
	  Crotales. Click on the links to see which notes are needed. If there
	  is no link then a full set of 2 octaves is required, range:</td>

    
  
    
    <td width="122" valign="bottom" align="right"><%= image_tag("perc_notes/Crotales.gif") %></td>
  </tr>
  
</table>
<table width="396" border="0">
  <tr>
    <td width="190">Range of high oct Crotales<br>
      where specified</td>
    <td width="196"><%= image_tag("perc_notes/Crotaleshigh.gif") %></td>
  </tr>
</table>
<table width="396" border="0">
  <tr>
    <td width="179">Range of low oct Crotales<br>
      where specified</td>
    <td width="207"><%= image_tag("perc_notes/Crotaleslow.gif") %></td>
  </tr>
</table>
  
<table width="429" height="199" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td width="429" height="69"><h2>Tam-tams and Tuned Gongs</h2></td>
  </tr>
  <tr> 
    <td height="23" valign="top">Most percussionists would consider Tam-tams to be of indefinite 
      pitch, and Gongs to be of definite pitch. However, some composers e.g. Britten 
      write for Gong meaning indefinite pitch. Once again for the sake of clarity, 
      in this last instance I have changed the name to Tam-tam. Click on the links 
      for Tuned Gongs to see which notes are needed.</td>
  </tr>
</table>



