<h1><%= t '.title' %></h1>
<div class='pagination'>
  <strong><%= t '.jump' %></strong>
  <%- InstrumentTranslation.pagination_letters.each do |letter| -%>
    <%= link_to(letter, instrument_translations_path(:letter => letter)) %>
  <%- end -%>
</div>
<br/ >
<table border=1>
  <tr>
    <th><%= t '.instrument' %></th>
    <th><%= t '.description' %></th>
    <th><%= t '.french' %></th>
    <th><%= t '.german' %></th>
    <th><%= t '.spanish' %></th>
    <th><%= t '.italian' %></th>
  </tr>

<% @instrument_translations.each do |instrument_translation| %>
  <tr>
    <td><%=h instrument_translation.instrument_name %></td>
    <td><%=h instrument_translation.description %></td>
    <td><%=h instrument_translation.french %></td>
    <td><%=h instrument_translation.german %></td>
    <td><%=h instrument_translation.spanish %></td>
    <td><%=h instrument_translation.italian %></td>
 
  </tr>
<% end %>
</table>

<br />

<%= link_to (I18n.t 'composers.back_composers'), :controller => 'composers', :letter => 'A' , :action=> 'index' %>