<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title><%= @title %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "omnipresent_main", "scaffold", :media => "all" %>
 
</head>
<BODY>
<div align="center">



<div id="Container"> 
  <div id="Header"></div>
  	<div id="MainNav">
		<ul>
				<li><%= link_to I18n.t('layout.mainnav.composers_index'), composers_path(:letter => 'A') %></li>
				<li><%= link_to I18n.t('layout.mainnav.no_perc'), no_percs_path %></li>
				<li><%= link_to I18n.t('layout.mainnav.notes'), explanatory_notes_path %></li>
				<li><%= link_to I18n.t('layout.mainnav.contact'), contact_path %></li>
				<li><%= link_to I18n.t('layout.mainnav.logout'), '#' %></li>
		</ul>
	</div>
  <div id="MainColumn"> 
   <div id="main">
	<p><%= flash[:message] %></p>
	  <%= yield :layout %>
	</div>
  </div>
  <!--  Close MainColumn div  -->
  <div id="Menu"> 
    <div id="Navigation"> 
 		  <p class="HomeNavigation"><%= link_to I18n.t('layout.menu.home'), root_path -%></p><br /><br />

		<p class="MainNavigation">
		  <%= link_to I18n.t('layout.menu.write_endorsement'), new_endorsement_path  %>
		  <%= link_to I18n.t('layout.menu.request'), new_work_request_path %>
	   	  <%= link_to I18n.t('layout.menu.add'), '#' %>
	</p><br /><br />
	    <p class="MainNavigation">
		  <%= link_to I18n.t('layout.menu.instrument_translations'), instrument_translations_path %>
		  <%= link_to I18n.t('layout.menu.searches'), '#' %>
		  <%= link_to I18n.t('layout.menu.gig'), '#' %>
		  <%= link_to I18n.t('layout.menu.schedule'), '#' %>
		  <%= link_to I18n.t('layout.menu.planner'), '#' %>
		
		<br /><br />
		</p>
		

		

	

		<p class="MainNavigation">
		  <%= link_to I18n.t('layout.menu.account'), '#' %>	 
		</p>
		
		<%= form_tag ' ', :method => 'GET', :class => 'locale' do %>
		  <%= select_tag 'locale', options_for_select(LANGUAGES, I18n.locale.to_s), :onchange => 'this.form.submit()' %>
		  
		  <%= javascript_tag "$$('.locale input').each(Element.hide)" %>
		<% end %>
		
    </div>
    <!--  Close Navigation div  -->
 
  </div>
  <!--  Close LeftBar div  -->
</div>
<!--  Close Container div  -->
<div id="Footer">
	<ul>
	<li><%= link_to 'Terms & Conditions', terms_path %></li>
	<li><%= link_to 'Privacy Policy', privacy_policy_path %></li>
	<li>&copy; Copyright 2004-2011 Ed Cervenka</li>
	</ul>
</div>
<!--  Close FooterBanner div  -->
<%= debug(params) if Rails.env.development? %>
</body>
</html>

