<!DOCTYPE HTML>
<html>
<head>
  <title>Percussion Orchestrations</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "omnipresent_header_footer", :media => "all" %>
 
</head>
<BODY>
<div align="center">


<div id="Container"> 
  <div id="Header">
	
	<table id="img">
	<tr><td id="imga"><img src="../images/new_banner_left.jpg"></td><td id="imgb"><img src="../images/new_banner_center.jpg"></td><td id="imgc"><img src="../images/new_banner_right.jpg"></td></tr>
	</table>
  </div>	
  	<%= render 'layouts/mainnav' %>
  <div id="MainColumn"> 
   <div id="main">
	  <%= yield :layout %>
	</div>
  </div>
  <!--  Close MainColumn div  -->
  
  
</div>
<!--  Close Container div  -->
<div id="FooterContainer">
<%= render 'layouts/footer' %>
<!--  Close Footer div  -->
</div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>

