<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Percussion Orchestrations</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "omnipresent_header_footer", :media => "all" %>
 
</head>
<BODY>
<div align="center">


<div id="Container"> 
  <div id="Header">
	
	<table id="img">
	<tr><td id="imga"><img src="../images/new_banner_left.jpg"></td><td id="imgb"><img src="../images/new_banner_center.jpg"></td><td id="imgc"><img src="../images/new_banner_right.jpg"></td></tr>
	</table>
  </div>	
  	<div id="MainNav">
		<ul>
			
			<li><%= link_to I18n.t('layout.mainnav.composers_index'), composers_path(:letter => 'A') %></li>
			<li><%= link_to I18n.t('layout.mainnav.no_perc'), no_percs_path %></li>
			<li><%= link_to I18n.t('layout.mainnav.notes'), explanatory_notes_path %></li>
			<li><%= link_to I18n.t('layout.mainnav.contact'), contact_path %></li>
			<li><%= link_to I18n.t('layout.mainnav.logout') %></li>
			
			
		</ul>
	</div>
  <div id="MainColumn"> 
   <div id="main">
	  <%= yield :layout %>
	</div>
  </div>
  <!--  Close MainColumn div  -->
  
  
</div>
<!--  Close Container div  -->
<div id="FooterContainer">
	<div id="Footer">
		<ul>
		<li><%= link_to 'Terms & Conditions', terms_path %></li>
		<li><%= link_to 'Privacy Policy', privacy_policy_path %></li>
		<li>&copy; Copyright 2004-2011 Ed Cervenka</li>
		</ul>
	</div>
<!--  Close Footer div  -->
</div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>

